<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <link rel="stylesheet" href="stylesheets/main.css">
  <title>To-Do List</title>
</head>

<body class="container-fluid d-flex flex-column justify-content-between">
    <%- include("partials/_nav") %>
    <div class="container flex-fill">
        <% if (content) { %>
            <%- include(content) %>
        <% } else { %> 
            <p>Nothing to display.</p>
        <% } %>
    </div>
    <%- include("partials/_footer") %>
    <script src="javascripts/main.js"></script>
</body>
 
</html>